* {
    margin: 0px;
}
body {
    background-color: lightskyblue;
    font-family: "Comic Sans MS";
    margin: 10px 0px 0px 0px;
}
.heading-container {
    display: flex;
    justify-content: center;
    margin: 0px;
}
.heading {
    background-color: rgb(204, 236, 247);
    display: flex;
    justify-content: center;
    height: 70px;
    width: 625px;
    border: 1px solid rgb(33, 33, 212);
    border-radius: 50px;
    box-shadow: 3px 3px 3px 3px rgb(17, 17, 155);
    margin: 0px 0px 20px 0px;
    padding: 0px 0px 0px 0px;
}
h1 {
    margin: 10px 0px 0px 0px;
}

.container {
    background-color: rgb(204, 236, 247);;
    width: 625px;
    height: 500px;
    border: 2px solid rgb(33, 33, 212);
    border-radius: 50px;
    box-shadow: 5px 5px 5px 5px rgb(17, 17, 155);
    margin: auto;
}
.buttons {
    display: flex;
    justify-content: center;
    padding: 45px 0px 10px 0px;
}
.selection {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 4rem;
    transition: 300ms;
    padding: 0px 15px 0px 15px;
}
.selection:hover {
    transform: scale(1.5);
}
.score-counter-name {
    display: flex;
    justify-content: center;
    padding: 10px 0px 10px 0px;
    font-size: 20px;
}
h4 {
    padding: 30px 15px 5px 15px;
}
.score-counter {
    display: flex;
    justify-content: center;
    padding: 10px 0px 10px 0px;
    font-size: 20px;
}
h3 {
    padding: 10px 40px 5px 40px;
}
.score {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    padding-top: 0;
}
h2 {
    padding: 10px 25px 25px 25px;
}
.win-or-lose {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    border: 0;
    padding: 10px;
    font-size: 20px;
}
.adv-game {
    position: absolute;
    top: 25px;
    left: 25px;
    border: 2px solid darkblue;
    background-color: white;
    padding: 20px;
    font-size: 25px;
    box-shadow: 3px 3px 3px 3px darkblue;
    border-radius: 25px;
}
.adv-game:hover {
    background-color: antiquewhite;
}
.adv-game:active {
    box-shadow: 1px 1px 1px 1px darkblue;
}
a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
